@page "/todo-list"
@inject IConfiguration Configuration // how to use file setting json

<h3>Todo List</h3>

@if (Todos is null || Assignees is null)
{
	<LoadingComponent></LoadingComponent>
}
else
{
	<EditForm Model="@SearchForm" OnSubmit="@FormSubmited">
		<div class="row">
			<div class="col">
				<InputText placeholder="Enter name todo" class="form-control" @bind-Value="SearchForm.Name"></InputText>
			</div>

			<div class="col">
				<InputSelect class="form-control" @bind-Value="SearchForm.AssigneeId">
					<option>Select an assignee</option>
					@foreach (var assignee in Assignees)
					{
					<option value="@assignee.Id">@assignee.Fullname</option>
					}
				</InputSelect>
			</div>

			<div class="col">
				<InputSelect class="form-control" @bind-Value="SearchForm.Priority">
					<option>Select a priority</option>
					@foreach (var item in Enum.GetNames(typeof(Priority)))
					{
					<option value="@item">@item</option>
					}
				</InputSelect>
			</div>

			<div class="col">
				<button type="submit" class="btn btn-sm btn-primary">Search</button>
			</div>

			<div class="col">
				<a href="/todo-add" class="btn btn-sm btn-outline-danger">Create</a>
			</div>

		</div>
	</EditForm>

	<div class="row mt-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Priorty</th>
					<th>Assigne</th>
					<th>Status</th>
					<th>Created Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Todos)
				{
					<tr>
						<td>@item.Name</td>
						<td><PriorityLabelComponent Priority="item.Priority"></PriorityLabelComponent></td>
						<td>@item.AssigneeName</td>
						<td><StatusLabelComponent Status = "item.Status"></StatusLabelComponent></td>
						<td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
						<td>
							<a href="/todo-detail/@item.Id" class="btn btn-sm btn-outline-info">Detail</a>
							<a href="/todo-edit/@item.Id" class="btn btn-sm btn-outline-success">Edit</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
