
@if(Assignees is not null)
{
	<EditForm Model="@SearchForm" OnSubmit="@FormSubmited">
		<div class="row">
			<div class="col">
				<InputText placeholder="Enter name todo" class="form-control" @bind-Value="SearchForm.Name"></InputText>
			</div>

			<div class="col">
				<InputSelect class="form-control" @bind-Value="SearchForm.AssigneeId">
					<option value="">Select an assignee</option>
					@foreach (var assignee in Assignees)
					{
					<option value="@assignee.Id">@assignee.Fullname</option>
					}
				</InputSelect>
			</div>

			<div class="col">
				<InputSelect class="form-control" @bind-Value="SearchForm.Priority">
					<option value="">Select a priority</option>
					@foreach (var item in Enum.GetNames(typeof(Priority)))
					{
					<option value="@item">@item</option>
					}
				</InputSelect>
			</div>

			<div class="col">
				<button type="submit" class="btn btn-sm btn-primary">Search</button>
			</div>

			<div class="col">
				<a href="/todo-add" class="btn btn-sm btn-outline-danger">Create</a>
			</div>

		</div>
	</EditForm>
}
